*
{
    background-color: rgb(19, 43, 35);
    color: lightgray;
}

#container
{
    display: flex;
    margin: 0 auto;
}

.left
{
    float: left;
    margin-left: 24px;
    width: 200px;
}

.right
{
    float: left;
    margin-top: 30px;
    margin-left: 80px;
    color: red;
}
