*
{
    background-color: rgb(19, 43, 35);
    color: lightgray;
}

#container
{
    width: 900px;
    margin: 0 auto;
}

.left
{
    width: 200px;
    float: left;
}

.right
{
    float: left;
    margin-top: 90px;
    color: red;
}
